" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
" Don't use Ex mode, use Q for formatting. (Default)
map Q gq

" Config
let mapleader = ","
set incsearch
set numberwidth=5
set relativenumber=true
set scrolloff=999
set autoindent=true
set expandtab=true
set tabstop=4
set softtabstop=4
set editorconfig=false
set laststatus=3
set hlsearch=false
set number=true
set mouse='a'
set breakindent=true
set undofile=true
set ignorecase=true
set smartcase=true
set signcolumn='yes'
set updatetime=250
set timeoutlen=300
set completeopt='menuone,noselect'

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
" :actionlist
map <C-v> <Action>(SplitVertically)
map <C-s> <Action>(SplitHorizontally)
" Split Chooser needs to be fixed
" Need to be able to change between tabs
map <C-h> <Action>(SplitChooser.SplitLeft)
map <C-j> <Action>(SplitChooser.SplitDown)
map <C-k> <Action>(SplitChooser.SplitTop)
map <C-l> <Action>(SplitChooser.SplitRight)
map <leader>fd <Action>(ReformatCode)
map <leader>ff <Action>(SearchEverywhere)
map <leader>fw <Action>(FindInPath)
map <leader>gf <Action>(SearchEverywhere)
map <leader>gw <Action>(FindInPath)
map <leader>gr <Action>(FindUsages)
map <leader>gd <Action>(GotoDeclaration)
